<!DOCTYPE html>
<html>
<head>
<title>Flask Multiple Upload</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Flask Multiple Upload Demo</h1>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">

{#    将文件拖到此处或点击上传#}
    <input id="file-picker" type="file" name="file" accept="image/*" multiple><p>


    <fieldset id="progress" style="display：none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="上传" id="upload-button">
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

</body>
</html>